*{
    margin: 0;
    padding: 0;
}
#slider{
    background: url("../images/slider.jpg") no-repeat;
}
.slider-overlay{
    width: 100%;
    background: rgba(0,0,0, .3);
}
.item{
    padding: 180px 0;
    color: #ffffff;
}
.item h3{
    font-size: 40px;
}
.item h2{
    font-size: 100px;
    border: 2px solid #ffffff;
    max-width: 670px;
    margin: 0 auto;
    padding: 10px;
}
.item span{
    color: #87d37c;
}
.item h4{
    font-size: 36px;
}
.carousel-indicators li{
    background: #ffffff ;
    width: 15px;
    height: 15px;
    margin: 2px;
}
.carousel-indicators .active{
    background: #87d37c;
    border: 1px solid #87d37c;
    width: 15px;
    height: 15px;
    margin: 2px;
}

#about{
    color: #030303;
    padding: 110px 0;
}
.about-top h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
}
.about-top p{
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.about-content{}
.about-icon{}
.about-icon i{font-size: 35px}
.about-icon h2{font-size: 24px; text-transform: uppercase; font-weight: bold}
.about-icon p{font-size: 14px}
.about-icon:hover i,
.about-icon:hover h2{
    color: #87d37c;
}

#service{
    background-color: #e1e1e1;
    padding: 90px 0;
}
.service-icon{
    position: relative;
    overflow: hidden;
}
.about-overlay{
    position: absolute;
    background: rgba(0,0,0, .3);
    width: 100%;
    height: 100%;
    top:-100%;
    transition: .5s;
}
.service-icon:hover .about-overlay{
    top: 0;
}
.service-icon img{
    width: 100%;
}
.about-icon-overlay{
    position: absolute;
    left: 33%;
    bottom: -100%;
    transition: .5s;
}
.about-icon-overlay i{
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    transition: .5s;
}
.service-icon:hover .about-icon-overlay{
    bottom: 40%;
}
.about-icon-overlay i:hover{
    background: #87d37c;
    border: 1px solid #87d37c;
}
.service-top h2{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold
}
.service-top p{
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color: #87d37c;
}
.navbar-toggle {
    margin-top: 40px;
}
.logo img{
    width: 130px;
}
.navbar-nav{
    margin-top: 30px;
}